{{#
    @name Live Preview
    @desc Make sure Live Preview morphs instead of refreshing the browser when making edits to an entry. Disable `refresh` under `Preview Targets` in your collection configuration to enable this feature.
#}}

{{ if live_preview }}
    <!-- statamic-peak-tools::snippets/_live_preview.antlers.html -->
    <script>
        window.addEventListener('message', async (event) => {
            if (event.data.name === 'statamic.preview.updated') {
                const text = await fetch(event.data.url).then((res) => res.text());
                const updated = new DOMParser().parseFromString(text, 'text/html');
                Alpine.morph(document.head, updated.head);
                Alpine.morph(document.body, updated.body);
            }
        });
    </script>
    <!-- End: statamic-peak-tools::snippets/_live_preview.antlers.html -->
{{ /if }}
