@import "@statamic/cms/tailwind.css";
@source '../js';
@source '../views/cp';

/* Remove design fluff from page wrapper. */
.main-content,
main,
.content-card {
    border-radius: 0px !important;
}

.main-content {
    padding: 0;
}

.content-card {
    border-top: 0px;
    border-bottom: 0px;
}

.nav-main {
    padding-right: 1rem !important;
}

/* Improve imputs and textareas */
input,
textarea,
[data-ui-combobox-trigger]:not(
    [data-ui-global-site-selector] [data-ui-combobox-trigger]
) {
    background-color: var(--color-white) !important;
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .1) !important;
    background-image: none !important;
}

.dark {
    input,
    textarea,
    [data-ui-combobox-trigger]:not(
        [data-ui-global-site-selector] [data-ui-combobox-trigger]
    ) {
        background-color: var(--theme-color-gray-800) !important;
        box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .1) !important;
        background-image: none !important;
    }
}

.not-\[\.link-fieldtype_\&\]\:p-2:not(.link-fieldtype *) {
    background-color: white;
}

/* Restyle panels. */
[data-ui-panel]:not([data-ui-panel] [data-ui-panel]) {
    background-color: var(--theme-color-gray-100);
    border: 1px solid var(--theme-color-gray-300);
    overflow: hidden;

    border-radius: 10px;

    &:has([data-ui-card]) {
        padding: 0 !important;
    }

    [data-ui-panel-header] {
        padding-inline: calc(var(--spacing) * 3.5);

        [data-ui-heading] {
            font-size: 1rem;
            font-weight: 500;
        }
    }

    [data-ui-card]:not(.blueprint-section-field) {
        background: white !important;
        border: none;
        box-shadow: none !important;
        margin: 0 !important;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: 1px solid var(--theme-color-gray-300) !important;
        padding-inline: calc(var(--spacing) * 3.5);

        &:has(+ [data-ui-panel-footer]) {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        [data-ui-description] {
            color: var(--theme-color-gray-600);
        }

        .px-5:has(button) {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    [data-ui-panel-footer] {
        border-top: 1px solid var(--theme-color-gray-200);
        padding-block: calc(var(--spacing) * 1.5);
    }

    & > div:not([data-ui-card]):has(.blueprint-section-field-actions) {
        background: var(--theme-color-gray-50) !important;
        border-top: 1px solid var(--theme-color-gray-200) !important;
        margin-inline: calc(var(--spacing) * -3.5);
        padding-block: calc(var(--spacing) * 3.5);
        padding-inline: calc(var(--spacing) * 7);
    }
}

.dark [data-ui-panel]:not([data-ui-panel] [data-ui-panel]) {
    background-color: var(--theme-color-gray-800) !important;
    border: 1px solid var(--theme-color-gray-700) !important;

    [data-ui-card]:not(.blueprint-section-field) {
        background: var(--theme-color-gray-700) !important;
        border-top: 1px solid var(--theme-color-gray-700) !important;
    }
}

[data-ui-panel] [data-ui-panel] {
    border: none !important;
    background: transparent !important;
}

.p-px:has([data-ui-card]) {
    padding: 0px;
}
