@layer theme, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@source not 'statamic';
@source "./resources/views/widgets/**/*.blade.php";
